@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/dejavu-sans.ttf') format('truetype');
}

@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/dejavu-sans-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DejaVu Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/dejavu-sans-condensed.ttf') format('truetype');
}

@font-face {
  font-family: 'DejaVu Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/dejavu-sans-condensed-bold.ttf') format('truetype');
}
