@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/dejavu-sans.woff') format('woff');
}

@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/dejavu-sans-bold.woff') format('woff');
}

@font-face {
  font-family: 'DejaVu Sans Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/dejavu-sans-condensed.woff') format('woff');
}

@font-face {
  font-family: 'DejaVu Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/dejavu-sans-condensed-bold.woff') format('woff');
}
