html {
  font-family: 'DejaVu Sans', sans-serif;
  color-scheme: dark;
  min-width: 300px;
}

body {
  background: $DARK_100;
  color: $DARK_900;
}

*:focus-visible {
  outline-color: $DARK_900;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
