@layer utilities {
  .scroll-gutter-stable {
    scrollbar-gutter: stable;
  }

  .bg-lighten {
    background: rgba($DARK_900, 12%);
  }

  .bg-lighten-weak {
    background: rgba($DARK_900, 8%);
  }

  .border-lighten {
    border-color: rgba($DARK_900, 12%);
  }

  .border-lighten-weak {
    border-color: rgba($DARK_900, 8%);
  }
}
