/**
 * TODO: Rename $DARK_* colors family to something more appropriate
 */
$DARK_100: #16161a;
$DARK_200: #212126;
$DARK_300: #242429;
$DARK_400: #2b2b32;
$DARK_500: #313139;
$DARK_600: #43434e;
$DARK_700: #555866;
$DARK_800: #8e92a1;
$DARK_900: #eeeeee;

$BRAND_300: #4a403a;
$BRAND_400: #55443c;
$BRAND_500: #704e38;
$BRAND_600: #885e43;
$BRAND_700: #a37f5c;
$BRAND_800: #cca471;
$BRAND_900: #ffe3c0;

$ITEM_GRADE_1: #83a545;
$ITEM_GRADE_2: #458dcb;
$ITEM_GRADE_3: #f3b93c;
$ITEM_GRADE_4: #ce5e4a;

/**
 * TODO: Maybe it would be possible to replace this values with $FLUCTUATION_TYPE
 *  variables combined with backdrop-filter to achieve similar looking colors
 */
$ITEM_AVAILABILITY_BG_1: #333845;
$ITEM_AVAILABILITY_BG_2: #482c29;

$ITEM_AVAILABILITY_TEXT_1: #f6465a;
$ITEM_AVAILABILITY_TEXT_2: #92b2d8;

$ITEM_ICON_HIGHLIGHT: #b92511;

$FLUCTUATION_TYPE_1: #2b3a46;
$FLUCTUATION_TYPE_2: #56302a;

$MARKET_0: #0000ff;
$MARKET_40: #8888ff;
$MARKET_50: #ffffff;
$MARKET_60: #ff8888;
$MARKET_100: #ff0000;
