$DARK_100: #16161a;
$DARK_200: #212126;
$DARK_300: #242429;
$DARK_400: #2b2b32;
$DARK_500: #313139;
$DARK_600: #43434e;

$LIGHT_100: #eeeeee;
$LIGHT_300: #8e92a1;

$BRAND_500: #704e38;
$BRAND_600: #885e43;
$BRAND_700: #a37f5c;

$GRADE_1: #83a545;
$GRADE_2: #458dcb;
$GRADE_3: #f3b93c;
$GRADE_4: #ce5e4a;
