$itemGrades: (
  1: $ITEM_GRADE_1,
  2: $ITEM_GRADE_2,
  3: $ITEM_GRADE_3,
  4: $ITEM_GRADE_4,
);

$itemGradesBackground: (
  1: darken(desaturate(map-get($itemGrades, 1), 10%), 20%),
  2: darken(desaturate(map-get($itemGrades, 2), 10%), 20%),
  3: darken(desaturate(map-get($itemGrades, 3), 10%), 30%),
  4: darken(desaturate(map-get($itemGrades, 4), 10%), 25%),
);

$itemGradesText: (
  1: lighten(saturate(map-get($itemGrades, 1), 20%), 15%),
  2: lighten(saturate(map-get($itemGrades, 2), 20%), 15%),
  3: lighten(saturate(map-get($itemGrades, 3), 20%), 5%),
  4: lighten(saturate(map-get($itemGrades, 4), 20%), 10%),
);

@each $itemGrade, $color in $itemGrades {
  .text\:item-grade-#{$itemGrade} {
    color: $color;
  }

  .border\:item-grade-#{$itemGrade} {
    border-color: $color;
  }
}
